In [6]:
dit={'Employee':{'Dave':{'ID':'001','Salary':25000,'Designation': 'Manager'},
                  'Ava':{'ID':'002', 'Salary':50000, 'Designation':'Team Leader'}}}

In [8]:
dit

{'Employee': {'Dave': {'ID': '001', 'Salary': 25000, 'Designation': 'Manager'},
  'Ava': {'ID': '002', 'Salary': 50000, 'Designation': 'Team Leader'}}}

In [5]:
import pandas as pd

In [10]:
df = pd.DataFrame(dit['Employee'])

In [11]:
df

                Dave          Ava
ID               001          002
Salary         25000        50000
Designation  Manager  Team Leader

In [12]:
df1 = pd.DataFrame(dit)

In [14]:
df1

                                               Employee
Ava   {'ID': '002', 'Salary': 50000, 'Designation': ...
Dave  {'ID': '001', 'Salary': 25000, 'Designation': ...

In [32]:
file = open("What is Git - What is GitHub - Git Tutorial - GitHub Tutorial - Devops Tutorial - Edureka.txt",'a')

# LAMBDA FUNCTION

In [34]:
x= lambda a: a*a

In [35]:
x(3)

9

In [40]:
def A(x):
    return (lambda y: x+y)

In [41]:
t=A(4)

In [42]:
t(9)

13

In [52]:
mylist=[1,2,3,4,5,6,7]

In [54]:
newlist=  filter(lambda a:(a/3==2),mylist)

In [56]:
print(newlist)

<filter object at 0x0000016207B14E48>

# MAP

In [57]:
def square(a):
    return a*a

x= map(square,[1,2,3,4])

In [59]:
print(x)

<map object at 0x000001620757CA88>

In [63]:
print(list)

[1, 2, 3, 4, 5, 6, 7]

# Generator

In [64]:
def new(dict):
    for x,y in dict.items():
        yield x,y
        
a={1:'Hi',2:'Wlecome'}
b=new(a)
print(b)

<generator object new at 0x00000162041870C8>

In [65]:
next(b)

(1, 'Hi')

In [66]:
next(b)

(2, 'Wlecome')

In [67]:
import math

In [68]:
a=math.factorial(5)

In [69]:
a

120